.muse-icon,
.music-note-icon {
  position: absolute;
  height: 100%;
  width: 84.05%;
  top: 0;
  right: 15.95%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.music-note-icon {
  height: 70.27%;
  width: 19.31%;
  right: 0;
  bottom: 29.73%;
  left: 80.69%;
  object-fit: contain;
  z-index: 1;
}
.image-1-icon,
.image-2-icon,
.muse-logo {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.muse-logo {
  height: 112px;
  width: 267.7px;
  top: 16px;
  left: 16px;
}
.image-1-icon,
.image-2-icon {
  object-fit: cover;
}
.image-2-icon {
  height: 316px;
  width: 316px;
  right: 525px;
  bottom: 358px;
}
.image-1-icon {
  height: 300px;
  width: 300px;
  bottom: 378px;
  left: 282px;
}
.recommendation-column-icon {
  align-self: stretch;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 174px;
  top: 0;
  width: 100%;
  transform: scale(2.16);
}
.wrapper-recommendation-column {
  align-self: stretch;
  height: 976px;
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-recommendation-column-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
  box-sizing: border-box;
  min-width: 195px;
}
.everybody-dies,
.lost-cause {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.everybody-dies {
  align-self: stretch;
  height: 50px;
  flex-shrink: 0;
}
.lost-cause {
  text-decoration: none;
  height: 51px;
  color: inherit;
}
.cause-titles {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 53px;
}
.nda {
  height: 51px;
  position: relative;
  align-items: center;
}
.cause-titles1,
.nda,
.oxytocin {
  display: flex;
  justify-content: center;
}
.cause-titles1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-6xl) 0 var(--padding-xl);
}
.oxytocin {
  height: 51px;
  position: relative;
  align-items: center;
}
.oxytocin-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 56px;
}
.happier-than-ever {
  height: 51px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dead-leaves-inner,
.frame-div {
  display: flex;
  align-items: flex-start;
}
.frame-div {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.dead-leaves-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs) 0 17px;
}
.dead-leaves {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.dead-leaves-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs) 36px var(--padding-5xs);
}
.breathe-in-the,
.speak-to-me {
  height: 50px;
  position: relative;
  color: inherit;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  text-decoration: none;
}
.speak-to-me {
  align-self: stretch;
}
.breathe-in-the {
  width: 240px;
}
.speak-to-me-parent {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.on-the-run {
  height: 50px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.on-the-run-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs) var(--padding-11xl-4) 3px;
}
.the-great-gig,
.time {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
}
.time {
  align-self: stretch;
  height: 19.7px;
}
.the-great-gig {
  height: 25.1px;
}
.frame-wrapper,
.time-parent {
  display: flex;
  align-items: flex-start;
}
.time-parent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 33.3px;
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) 62.5px var(--padding-11xs);
}
.dreams-tonite,
.in-undertow {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.in-undertow {
  align-self: stretch;
  height: 50px;
  flex-shrink: 0;
}
.dreams-tonite {
  height: 48px;
  flex: 1;
}
.dreams-tonite-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) 0 var(--padding-5xs);
}
.in-undertow-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
}
.frame-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) 0 var(--padding-11xs);
}
.plimsoll-punks {
  align-self: stretch;
  height: 50px;
  flex-shrink: 0;
}
.not-my-baby,
.plimsoll-punks,
.your-type {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.your-type {
  align-self: stretch;
  height: 50px;
  flex-shrink: 0;
  z-index: 1;
}
.not-my-baby {
  height: 51px;
  flex: 1;
}
.not-my-baby-wrapper,
.your-type-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.not-my-baby-wrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs);
}
.your-type-parent {
  flex-direction: column;
  gap: var(--gap-9xs);
}
.frame-container,
.frame-group {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-container {
  width: 258px;
  flex-direction: column;
  min-width: 258px;
}
.frame-group {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xs) 0 0;
  gap: 33px;
}
.recommendation-icon {
  align-self: stretch;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 174px;
  top: 0;
  width: 100%;
  transform: scale(2.16);
}
.wrapper-recommendation {
  align-self: stretch;
  height: 300px;
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recommendation-icon1 {
  align-self: stretch;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 174px;
  top: 0;
  width: 100%;
  transform: scale(2.16);
}
.wrapper-recommendation1 {
  align-self: stretch;
  height: 300px;
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-recommendation-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 52px;
  min-width: 195px;
}
.good-days {
  height: 52px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.good-days-titles {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl) var(--padding-6xs) 0;
}
.i-hate-u {
  height: 50px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i-hate-u-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xs);
}
.shirt {
  height: 50px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.good-days-titles1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-38xl) 14px 52px;
}
.nobody-gets-me {
  height: 50px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.nobody-gets-me-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 var(--padding-6xs);
}
.kill-bill {
  height: 50px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.good-days-titles-parent,
.good-days-titles2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.good-days-titles2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-3xl) 0 var(--padding-lg);
}
.good-days-titles-parent {
  width: 235px;
  flex-direction: column;
  gap: var(--gap-xs);
}
.slow-angel {
  height: 51px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.slow-angel-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs);
}
.japanese-posters {
  height: 50px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.japanese-posters-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 13px 0 var(--padding-base);
}
.swim-zone {
  height: 52px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.swim-zone-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-lg) 0 var(--padding-9xl);
}
.lovers,
.meet-me-at {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.meet-me-at {
  align-self: stretch;
  height: 48px;
  flex-shrink: 0;
}
.lovers {
  height: 50px;
  flex: 1;
}
.lovers-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-lg) 0 var(--padding-7xl);
}
.meet-me-at-the-bar-parent {
  align-self: stretch;
  gap: var(--gap-base);
}
.frame-parent3,
.frame-parent4,
.meet-me-at-the-bar-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-parent4 {
  align-self: stretch;
  gap: var(--gap-xs);
}
.frame-parent3 {
  flex: 1;
  gap: var(--gap-lgi);
}
.frame-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) 0 0;
}
.frame-parent2 {
  width: 249px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 55px;
  min-width: 249px;
}
.frame-parent,
.frame-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: row;
  gap: 54px;
}
.frame-parent {
  width: 603px;
  flex-direction: column;
  gap: 41px;
  min-width: 603px;
  max-width: 100%;
}
.image-3-icon {
  height: 300px;
  width: 300px;
  position: absolute;
  margin: 0 !important;
  bottom: 26px;
  left: 282px;
  object-fit: cover;
  z-index: 1;
}
.reccomendation-column-icon {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  object-fit: contain;
  position: absolute;
  left: 174px;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(2.16);
}
.wrapper-reccomendation-column {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recommendation-icon2 {
  align-self: stretch;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 174px;
  top: 0;
  width: 100%;
  transform: scale(2.16);
}
.wrapper-recommendation2 {
  align-self: stretch;
  height: 300px;
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recommendation-icon3 {
  height: 100%;
  flex: 1;
  overflow: hidden;
  object-fit: contain;
  position: absolute;
  left: 174px;
  top: 0;
  width: 100%;
  transform: scale(2.16);
}
.wrapper-recommendation3 {
  height: 300px;
  flex: 1;
  position: relative;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-recommendation-wrapper {
  align-self: stretch;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 1px;
  box-sizing: border-box;
}
.wrapper-reccomendation-column-parent {
  height: 1676px;
  width: 301px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  min-width: 301px;
}
.all-mine {
  text-decoration: none;
  height: 51px;
  position: relative;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-mine-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-28xl);
}
.worth-the-wait {
  height: 51px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.worth-the-wait-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs) 0 var(--padding-4xs);
}
.i-wish-you {
  height: 51px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.in-my-garden {
  z-index: 1;
}
.happy-now,
.in-my-garden {
  height: 51px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.happy-now-wrapper,
.in-my-garden-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.happy-now-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-3xl) 0 var(--padding-xs);
}
.in-my-garden-parent {
  flex: 1;
  flex-direction: column;
}
.frame-wrapper6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xs) 0 var(--padding-xs);
}
.frame-parent8,
.frame-parent9,
.frame-wrapper5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent9 {
  align-self: stretch;
  align-items: flex-end;
  gap: 15px;
}
.frame-parent8,
.frame-wrapper5 {
  align-items: flex-start;
}
.frame-parent8 {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.frame-wrapper5 {
  width: 190px;
  padding: 70px 0 0;
  box-sizing: border-box;
  min-width: 190px;
}
.user-display-picture {
  width: 125px;
  height: 125px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.kayla-tran {
  position: relative;
  font-weight: 600;
}
.kayla-tran-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 23px 0 var(--padding-5xl);
}
.user-profilesettings {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 7px;
  min-width: 125px;
  font-size: 16px;
  font-family: var(--font-nunito-sans);
}
.frame-parent7,
.frame-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent7 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper4 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-9xl) var(--padding-lg) 34px;
  box-sizing: border-box;
}
.broken-boy {
  height: 51px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.broken-boy-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
}
.black-madonna,
.night-running,
.skin-and-bones,
.social-cues {
  align-self: stretch;
  height: 50px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.black-madonna,
.night-running,
.skin-and-bones {
  z-index: 2;
}
.night-running,
.skin-and-bones {
  z-index: 3;
}
.skin-and-bones {
  z-index: 4;
}
.frame-parent10 {
  width: 277px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-10xl) 0;
  box-sizing: border-box;
}
.dead-leaves-and,
.hotel-yorba,
.im-finding-it {
  height: 50px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.dead-leaves-and,
.hotel-yorba {
  width: 250px;
  flex-shrink: 0;
}
.im-finding-it {
  flex: 1;
}
.leaves-titles {
  width: 270px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-11xl-4) 0;
  box-sizing: border-box;
}
.expecting,
.fell-in-love {
  width: 250px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.fell-in-love {
  height: 19.7px;
  position: relative;
  flex-shrink: 0;
}
.expecting {
  height: 50px;
  top: 6px;
  left: -5px;
}
.ask,
.expecting,
.input {
  position: absolute;
  margin: 0 !important;
}
.input {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: var(--muse-color);
}
.ask {
  height: 79px;
  width: 492px;
  top: -6px;
  left: calc(50% - 246px);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ask-container {
  height: 69px;
  width: 359px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 var(--padding-3xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  z-index: 1;
  font-size: 50px;
}
.muse-icon1,
.music-note-icon1 {
  position: absolute;
  height: 100%;
  width: 84.07%;
  top: 0;
  right: 15.93%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.music-note-icon1 {
  height: 70.28%;
  width: 19.3%;
  right: 0;
  bottom: 29.72%;
  left: 80.7%;
  object-fit: contain;
  z-index: 1;
}
.muse-logo1 {
  height: 72px;
  width: 172px;
  position: relative;
  z-index: 2;
  margin-left: -145px;
}
.chatbot-closed,
.chatbot-closed-wrapper,
.fell-in-love-with-a-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.chatbot-closed {
  flex: 1;
  align-items: flex-end;
  padding: var(--padding-5xs) 0 0;
  position: relative;
  z-index: 1;
}
.chatbot-closed-wrapper,
.fell-in-love-with-a-parent {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-8xs);
}
.fell-in-love-with-a-parent {
  flex-direction: column;
  padding: 0 0 var(--padding-xl);
  gap: 11.9px;
}
.understand {
  height: 52px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.understand-wrapper {
  width: 288px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl) var(--padding-6xl);
  box-sizing: border-box;
}
.new-me {
  height: 50px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.leaves-titles1 {
  width: 314px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-38xl) var(--padding-base);
  box-sizing: border-box;
}
.got-the-juice {
  height: 50px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.leaves-titles2 {
  width: 297px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-28xl) var(--padding-2xl);
  box-sizing: border-box;
}
.neva {
  height: 50px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.leaves-titles3 {
  width: 316px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-42xl) 19px;
  box-sizing: border-box;
}
.never-lose-me {
  height: 50px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.dead-leaves-and-parent,
.leaves-titles4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.leaves-titles4 {
  width: 318px;
  flex-direction: row;
  padding: 0 var(--padding-42xl);
}
.dead-leaves-and-parent {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 32px;
  max-width: 100%;
}
.shut-it-down,
.triumph {
  align-self: stretch;
  height: 51px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
}
.shut-it-down {
  height: 50px;
}
.frame-wrapper7,
.triumph-parent {
  display: flex;
  justify-content: flex-start;
}
.triumph-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper7 {
  width: 268px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 33px;
  box-sizing: border-box;
}
.girls,
.i-know-you {
  height: 50px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.i-know-you {
  flex-shrink: 0;
}
.girls {
  flex: 1;
}
.girls-wrapper {
  width: 176px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.frame-parent11,
.full-of-shit {
  display: flex;
  align-items: flex-end;
}
.full-of-shit {
  align-self: stretch;
  height: 50px;
  position: relative;
  justify-content: center;
  flex-shrink: 0;
}
.frame-parent11 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.frame-wrapper9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xl) 0 var(--padding-6xl);
}
.i-know-you-want-me-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frame-parent6,
.frame-wrapper8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper8 {
  width: 296px;
  flex-direction: row;
  padding: 0 var(--padding-10xl);
  box-sizing: border-box;
}
.frame-parent6 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-base);
  max-width: 100%;
}
.frame-parent5,
.frame-wrapper3 {
  flex: 1;
  display: flex;
  max-width: 100%;
}
.frame-wrapper3 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  min-width: 328px;
}
.frame-parent5 {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 35px;
  min-width: 547px;
}
.image-4-icon {
  height: 300px;
  width: 300px;
  position: absolute;
  margin: 0 !important;
  right: 540px;
  bottom: 26px;
  object-fit: cover;
  z-index: 1;
}
.homepage {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 var(--padding-7xl) 282px;
  box-sizing: border-box;
  gap: 194px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--default-reg-text-style-size);
  color: var(--color-black);
  font-family: var(--default-reg-text-style);
}
@media screen and (max-width: 1525px) {
  .frame-parent {
    flex: 1;
  }
  .homepage {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1225px) {
  .frame-parent,
  .frame-parent5 {
    min-width: 100%;
  }
  .homepage {
    gap: 97px;
  }
}
@media screen and (max-width: 850px) {
  .breathe-in-the,
  .dreams-tonite,
  .everybody-dies,
  .happier-than-ever,
  .in-undertow,
  .lost-cause,
  .nda,
  .not-my-baby,
  .on-the-run,
  .oxytocin,
  .plimsoll-punks,
  .speak-to-me,
  .the-great-gig,
  .time,
  .your-type {
    font-size: var(--font-size-5xl);
  }
  .frame-container {
    flex: 1;
  }
  .frame-group {
    flex-wrap: wrap;
    gap: var(--gap-base);
  }
  .good-days,
  .i-hate-u,
  .japanese-posters,
  .kill-bill,
  .lovers,
  .meet-me-at,
  .nobody-gets-me,
  .shirt,
  .slow-angel,
  .swim-zone {
    font-size: var(--font-size-5xl);
  }
  .frame-parent2 {
    flex: 1;
  }
  .frame-parent1 {
    flex-wrap: wrap;
    gap: 27px;
  }
  .frame-parent {
    gap: var(--gap-xl);
  }
  .wrapper-reccomendation-column-parent {
    flex: 1;
  }
  .all-mine,
  .black-madonna,
  .broken-boy,
  .dead-leaves-and,
  .expecting,
  .fell-in-love,
  .happy-now,
  .hotel-yorba,
  .i-wish-you,
  .im-finding-it,
  .in-my-garden,
  .night-running,
  .skin-and-bones,
  .social-cues,
  .worth-the-wait {
    font-size: var(--font-size-5xl);
  }
  .ask {
    font-size: 40px;
  }
  .full-of-shit,
  .girls,
  .got-the-juice,
  .i-know-you,
  .neva,
  .never-lose-me,
  .new-me,
  .shut-it-down,
  .triumph,
  .understand {
    font-size: var(--font-size-5xl);
  }
  .frame-parent5 {
    flex-wrap: wrap;
  }
  .homepage {
    gap: 48px;
  }
}
@media screen and (max-width: 450px) {
  .breathe-in-the,
  .everybody-dies,
  .happier-than-ever,
  .lost-cause,
  .nda,
  .on-the-run,
  .oxytocin,
  .speak-to-me,
  .the-great-gig,
  .time {
    font-size: var(--font-size-lg);
  }
  .time-parent {
    gap: var(--gap-mid);
  }
  .dreams-tonite,
  .in-undertow,
  .not-my-baby,
  .plimsoll-punks,
  .your-type {
    font-size: var(--font-size-lg);
  }
  .wrapper-recommendation-parent {
    gap: 26px;
  }
  .good-days,
  .i-hate-u,
  .japanese-posters,
  .kill-bill,
  .lovers,
  .meet-me-at,
  .nobody-gets-me,
  .shirt,
  .slow-angel,
  .swim-zone {
    font-size: var(--font-size-lg);
  }
  .wrapper-reccomendation-column-parent {
    gap: 25px;
  }
  .all-mine,
  .happy-now,
  .i-wish-you,
  .in-my-garden,
  .worth-the-wait {
    font-size: var(--font-size-lg);
  }
  .frame-wrapper5 {
    flex: 1;
    padding-top: 45px;
    box-sizing: border-box;
  }
  .user-profilesettings {
    flex: 1;
  }
  .frame-parent7 {
    flex-wrap: wrap;
  }
  .black-madonna,
  .broken-boy,
  .dead-leaves-and,
  .expecting,
  .fell-in-love,
  .hotel-yorba,
  .im-finding-it,
  .night-running,
  .skin-and-bones,
  .social-cues {
    font-size: var(--font-size-lg);
  }
  .ask {
    font-size: var(--default-reg-text-style-size);
  }
  .new-me,
  .understand {
    font-size: var(--font-size-lg);
  }
  .leaves-titles1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .got-the-juice {
    font-size: var(--font-size-lg);
  }
  .leaves-titles2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .neva {
    font-size: var(--font-size-lg);
  }
  .leaves-titles3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .never-lose-me {
    font-size: var(--font-size-lg);
  }
  .leaves-titles4 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .full-of-shit,
  .girls,
  .i-know-you,
  .shut-it-down,
  .triumph {
    font-size: var(--font-size-lg);
  }
  .frame-parent5 {
    gap: var(--gap-mid);
  }
}
